body {
    background-color: #FFFFFF;
}

a {
    color: inherit;
}

.navbar-logo {
    min-width: 100px;
    width: 100px;
}

.footer-logo {
    width: 150px;
}

.main.container {
    margin-top: 7em;
}

.right-floated {
    float: right;
}

.ui.button.mt {
    margin-top: 1em;
}

.ui.button.mb {
    margin-bottom: 1em;
}

.ui.prediction-label {
    margin-bottom: 0.5em;
}

video {
    width: 640px;
    height: 480px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.flex-container {
    display: flex;
}

.flex-filler {
    flex: 1;
}
