
.navbar-logo {
    min-width: 120px;
    width: 120px;
}

.footer-logo {
    width: 150px;
}

video {
    width: 640px;
    height: 480px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#terminal {
    overflow: auto;
    height: 500px;
}

#testTerminal{
    overflow: auto;
    height: 150px;
}

#terminal > :last-child {
    margin-bottom: 15px; /* Keep margin at the bottom while container is overflowing */
}

.monospace-font {
    font-family: "Ubuntu Mono", monospace;
}
