
.navbar-logo {
    min-width: 120px;
    width: 120px;
}

.footer-logo {
    width: 150px;
}

video {
    width: 640px;
    height: 480px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#terminal {
    overflow: auto;
    height: 500px;
}

#testTerminal{
    overflow: auto;
    height: 150px;
}

#terminal > :last-child {
    margin-bottom: 15px; /* Keep margin at the bottom while container is overflowing */
}

#testTerminal > :last-child {
    margin-bottom: 15px; /* Keep margin at the bottom while container is overflowing */
}

.monospace-font {
    font-family: "Ubuntu Mono", monospace;
}

/* Additional colors for buttons and labels */
.button-green {
    background: #00cc00;
    color: #fff;
}

.button-green:focus, .button-green:hover {
    background: #00b300;
    color: #fff;
}

.label-green {
    background: #00cc00;
    color: #fff;
}

.button-grey {
    background: #9f9f9f;
    color: #fff;
}

.button-grey:focus, .button-grey:hover {
    background: #8f8f8f;
    color: #fff;
}

.label-grey {
    background: #9f9f9f;
    color: #fff;
}

.button-blue {
    background: #0e73d8;
    color: #fff;
}

.button-blue:focus, .button-blue:hover {
    background: #0c66c0;
    color: #fff;
}

.label-blue {
    background: #0e73d8;
    color: #fff;
}

.line-height-normal {
    line-height: normal;
}
