body {
    background-color: #FFFFFF;
}

a {
    color: inherit;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
    height: 4em;
    width: auto;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 2em 0em;
}

.class-row {
    margin-bottom: 0.5em;
}

.ui.button.mt {
    margin-top: 1em;
}

.ui.prediction-label {
    margin-bottom: 0.5em;
}

.ui.search {
    width: 100%;
}

.container { position:relative; }

.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    margin-top: 50px;
    margin-left: 150px;
    top:0;
    left:0;
    z-index:1;
    font-size: 30px;
}

#path {
    width: 100%;
    border-radius: .28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

