{% extends 'skeleton.html' %}

{% block title %} New Project {% endblock %}

{% block main %}
<div id="main" class="ui main container">
    <h1 class="ui header">New Project</h1>
    <form method="POST" action="/create-new-project">
        <div class="ui labeled input">
            <div class="ui label">
                <i class="id card outline icon"></i>
                Name
            </div>
            <input type="text" name="name" placeholder="Project Name">
        </div>
        <div class="ui labeled input">
            <div class="ui label">
                <i class="folder open icon"></i>
                Path
            </div>
            <div class="ui search" id="pathSearch">
                <input class="prompt" type="text" id="path" name="path" placeholder="/path/to/project" autocomplete="off" />
                <div id="pathSuggestions" class="results">
                    <!-- Filled automatically -->
                </div>
            </div>
        </div>
        <h3>Classes</h3>
        <div id="classList" class="ui">
            <div class="class-row">
                <div class="ui labeled input">
                    <div class="ui label">
                        <i class="eye icon"></i>
                        Class
                    </div>
                    <input type="text" name="class0" placeholder="class0" onfocus="addClassInput('')" />
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        <i class="tag icon"></i>
                        Tag 1
                    </div>
                    <input type="text" name="class0_tag1" placeholder="class0_tag1" />
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        <i class="tag icon"></i>
                        Tag 2
                    </div>
                    <input type="text" name="class0_tag2" placeholder="class0_tag2" />
                </div>
            </div>
        </div>
        <button class="ui button create-project" type="submit" id="createProject" disabled>Create Project</button>
    </form>
</div>
{% endblock %}
