{% extends 'up_skeleton.html' %}

{% block title %} {{ config.name }} {% endblock %}

{% block main %}
<h1>{{ config.name }}</h1>
<div>
    Path: {{ path }}
</div>
<div>
    <ul>
        {% for class, tags in config.classes.items() %}
        <li>
            Train: {{ stats[class].train.tagged }} / {{ stats[class].train.total }}
            <a href="{{ url_for('show_video_list', split='train', label=class, path=path) }}">Annotate</a>
            Valid: {{ stats[class].valid.tagged }} / {{ stats[class].valid.total }}
            <a href="{{ url_for('show_video_list', split='valid', label=class, path=path) }}">Annotate</a>
            <ul>
                {% for tag in tags %}
                <li>
                    {{ tag }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
