# package                version       license
torch                   ==1.5.1
numpy                   ==1.16.2      # BSD
opencv-python           ==3.4.3.18    # MIT
queuelib                ==1.5.0       # BSD
docopt                  ==0.6.2       # MIT
matplotlib              ==3.3.2       # BSD
scikit-learn            ==0.23.2      # BSD
Flask                   ==1.1.2       # BSD
Pillow                  ==8.0.1       # HPND

# Dependencies needed for converting Pytorch models to CoreML
tensorflow              ==1.14.0
keras                   ==2.2.4
coremltools             ==3.3
h5py                    ==2.10.0