{% extends 'skeleton.html' %}

{% block title %} Import Project {% endblock %}

{% block main %}
<div id="main" class="ui main container">
    <h1 class="ui header">Import Project</h1>
    <form class="ui form" id="importProjectForm" method="POST" action="/create-new-project">
        <div class="two fields">
            <div class="field">
                {% if name %}
                <div class="ui labeled disabled input">
                {% else %}
                <div class="ui labeled input">
                {% endif %}
                    <div class="ui label">
                        <i class="id card outline icon"></i>
                        Name
                    </div>

                    <input type="text" name="name" id="name" class="disabled" placeholder="Project Name" value="{{ name }}">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        <i class="folder open icon"></i>
                        Path
                    </div>
                    <div class="ui search" id="pathSearchImport">
                        <input class="prompt" type="text" id="path" name="path" placeholder="/path/to/project" autocomplete="off" value="{{ path }}" />
                        <div id="pathSuggestions" class="results">
                            <!-- Filled automatically -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Classes</h3>
        <div id="classList">
            <!-- Filled automatically -->
        </div>
        <div class="ui error message"></div>
        <button class="ui button" type="submit">Import Project</button>
    </form>
</div>
{% endblock %}
