<!-- The method injected by context processor is called here to get the project config. -->
{% set project_config = inject_project_config(project) %}
<a href="{{ url_for('project_details', project=project) }}" class="item">Project Details</a>
<div class="ui simple dropdown item">
    Video Recording
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            Train
            {% if project_config.classes %}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for label in project_config.classes  %}
                        <a href="{{ url_for('video_recording_bp.record_video', project=project, split='train', label=label) }}" class="item">{{ label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="item">
            Valid
            {% if project_config.classes %}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for label in project_config.classes %}
                        <a href="{{ url_for('video_recording_bp.record_video', project=project, split='valid', label=label) }}" class="item">{{ label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="ui simple dropdown item temporal {{ 'display-hidden' if not project_config.temporal }}">
    Annotation
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            Train
            {% if project_config.classes %}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for label in project_config.classes %}
                        <a href="{{ url_for('annotation_bp.show_video_list', project=project, split='train', label=label)}}" class="item">{{ label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="item">
            Valid
            {% if project_config.classes %}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for label in project_config.classes %}
                        <a href="{{ url_for('annotation_bp.show_video_list', project=project, split='valid', label=label)}}" class="item">{{ label }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<a href="javascript:void(0)" class="item hashoverpopup"
   data-html="<h4>Coming Soon!</h4>For now, run this script:<br/> <code>sense/tools/train_classifier.py</code>"
   data-position="bottom center" data-variation="very wide">
    Training
</a>
<a href="javascript:void(0)" class="item hashoverpopup"
   data-html="<h4>Coming Soon!</h4>For now, run this script:<br/> <code>sense/tools/run_custom_classifier.py</code>"
   data-position="bottom center" data-variation="very wide">
    Testing
</a>
<a href="javascript:void(0)" class="item hashoverpopup"
   data-html="<h4>Coming Soon!</h4>For now, run this script:<br/> <code>sense/tools/conversion/convert_to_tflite.py</code>"
   data-position="bottom center" data-variation="very wide">
    Conversion
</a>
