{% extends 'skeleton.html' %}

{% block title %} {{ project }} {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block main %}
<div id="main" class="ui main text container">
    <div class="ui segment right floated">
        <h3 class="ui header center aligned">Settings</h3>
        <div class="ui toggle checkbox hashoverpopup"
           data-content="Should GPU be used for computing features?"
           onclick="toggleGPU('{{ path }}');">
            <input type="checkbox" id="gpuInput" {% if config.use_gpu %} checked="checked" {% endif %}>
            <label>Use GPU</label>
        </div>
        <br/>
        <br/>
        <div class="ui toggle checkbox hashoverpopup"
           data-content="Do you want to tag your video with frame-wise temporal annotations?"
           onclick="toggleMakeProjectTemporal('{{ path }}', '{{ project }}');">
            <input type="checkbox" id="makeProjectTemporal" {% if config.temporal %} checked="checked" {% endif %}>
            <label>Use Temporal Annotations</label>
        </div>
    </div>
    <h1 class="ui header">
        {{ project }}
        <div class="sub header">
            <i class="folder open icon"></i>
            {{ path }}
        </div>
    </h1>
    <a class="ui icon button hashoverpopup" onclick="loading(this);"
       href="{{ url_for('annotation_bp.prepare_annotation', project=project) }}"
       data-content="Prepare required files for all classes">
        <i class="file video outline icon"></i>
        Prepare Annotations
    </a>
    <input type="hidden" id="projectName" value="{{ project }}">

    <div class="ui icon message">
        <i class="info circle icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Classes and Tags?
            </div>
            <p>
                Each video will have exactly one class label.
                Tags can be used for temporally annotating single frames out of a video with more specific labels,
                which later enable you to perform tasks such as counting certain actions.
            </p>
        </div>
    </div>

    <h3 class="ui header">Classes</h3>
    <div class="ui centered cards">
        {% for class, tags in config.classes.items() %}
        <div class="card" id="classShow{{ loop.index }}">
            <div class="content">
                <div class="header">
                    <span>
                        {{ class }}
                    </span>
                    <a class="right floated" onclick="editClass('{{ loop.index }}', true)">
                         <i class="edit icon"></i>
                    </a>
                </div>
            </div>
            <div class="content temporal {{ 'display-hidden' if not config.temporal }}" >
                <h4>Tags</h4>
                <div class="ui list">
                    {% for tag in tags %}
                    <div class="item">
                        <i class="tag icon"></i>
                        <div class="content">
                            <div class="description">
                                {{ tag }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <h4>Videos</h4>
                <div class="ui segments">
                    <div class="ui segment">
                        <h5>Train: {{ stats[class].train.total }} <span class="temporal {{ 'display-hidden' if not config.temporal }}">({{ stats[class].train.tagged }} annotated)</span></h5>
                        <a class="ui icon button" href="{{ url_for('video_recording_bp.record_video', project=project, split='train', label=class) }}">
                            <i class="record icon"></i>
                            Record
                        </a>
                        <a class="ui icon button temporal {{ 'display-hidden' if not config.temporal }}" onclick="loading(this);" href="{{ url_for('annotation_bp.show_video_list', project=project, split='train', label=class) }}">
                            <i class="edit icon"></i>
                            Annotate
                        </a>
                    </div>
                    <div class="ui segment">
                        <h5>Valid: {{ stats[class].valid.total }} <span class="temporal {{ 'display-hidden' if not config.temporal }}">({{ stats[class].valid.tagged }} annotated)</span></h5>
                        <a class="ui icon button" href="{{ url_for('video_recording_bp.record_video', project=project, split='valid', label=class) }}">
                            <i class="record icon"></i>
                            Record
                        </a>
                        <a class="ui icon button temporal {{ 'display-hidden' if not config.temporal }}" onclick="loading(this);" href="{{ url_for('annotation_bp.show_video_list', project=project, split='valid', label=class) }}">
                            <i class="edit icon"></i>
                            Annotate
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <form class="ui form card class-card display-hidden" id="classEdit{{ loop.index }}" method="POST"
              action="{{ url_for('edit_class', project=project, class_name=class) }}">
            <div class="content">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="eye icon"></i>
                        <input type="text" name="className" placeholder="Class Name" value="{{ class }}" />
                    </div>
                </div>
            </div>
            <div class="content temporal {{ 'display-hidden' if not config.temporal }}">
                <h4>Tags</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        <input type="text" name="tag1" placeholder="Tag 1" value="{{ tags[0] }}" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        <input type="text" name="tag2" placeholder="Tag 2" value="{{ tags[1] }}" />
                    </div>
                </div>
                <div class="ui error message"></div>
            </div>
            <button class="ui bottom attached button" type="button" onclick="editClass('{{ loop.index }}', false)">
                <i class="close icon"></i>
                Cancel
            </button>
            <button class="ui bottom attached button" type="submit">
                <i class="download icon"></i>
                Save Changes
            </button>
            <button class="ui bottom attached button hasclickpopup" type="button">
                <i class="trash alternate outline icon"></i>
                Delete Class
            </button>
            <div class="ui popup transition hidden">
                <p>
                    Remove class from the local config.
                    No data will be deleted.
                </p>
                <a class="ui red icon button" href="{{ url_for('remove_class', project=project, class_name=class) }}">
                    <i class="trash alternate outline icon"></i>
                    Delete Class
                </a>
            </div>
        </form>
        {% endfor %}

        <form class="ui form card class-card" method="POST" action="{{ url_for('add_class', project=project) }}">
            <div class="content">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="eye icon"></i>
                        <input type="text" name="className" placeholder="Class Name" />
                    </div>
                </div>
            </div>
            <div class="content temporal {{ 'display-hidden' if not config.temporal }}">
                <h4>Tags</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        <input type="text" name="tag1" placeholder="Tag 1" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        <input type="text" name="tag2" placeholder="Tag 2" />
                    </div>
                </div>
                <div class="ui error message"></div>
            </div>
            <button class="ui bottom attached button" type="submit">
                <i class="plus icon"></i>
                Add New Class
            </button>
        </form>
    </div>
</div>
{% endblock %}
