{% extends 'skeleton.html' %}

{% block title %} Record video {% endblock %}

{% block main %}
<div id="main" class="ui main text container">
	<h1 class="ui header">
        Video List
        <div class="sub header">
			<i class="folder open icon"></i> {{ path }}
			<br>
			<i class="eye icon"></i> {{ label }}
			<br>
			<i class="database icon"></i> {{ split }}
        </div>
    </h1>
	<div>
		<button onclick="record_video()" >record</button>
		<video id="player" controls></video>
		<script>
		  var player = document.getElementById('player');


	    function record_video() {
	    	navigator.mediaDevices.getUserMedia({ audio: false, video: true })
			  .then(handleSuccess)
		}


		  var handleSuccess = function(stream) {
		    var canvas = document.querySelector("canvas");

			// Optional frames per second argument.
			// var stream = canvas.captureStream(30);
			var recordedChunks = [];

			console.log(stream);
			var options = { mimeType: "video/webm; codecs=vp9" };
			mediaRecorder = new MediaRecorder(stream, options);

			mediaRecorder.ondataavailable = handleDataAvailable;
			mediaRecorder.start();

			function handleDataAvailable(event) {
			  console.log("data-available");
			  if (event.data.size > 0) {
				recordedChunks.push(event.data);
				console.log(recordedChunks);
				download();
			  } else {
				// ...
			  }
			}

			// TODO: send this data to flask server
			function download() {
			  var blob = new Blob(recordedChunks, {
				type: "video/webm"
			  });
			  var url = URL.createObjectURL(blob);
			  var a = document.createElement("a");
			  document.body.appendChild(a);
			  a.style = "display: none";
			  a.href = url;
			  a.download = "test.webm";
			  a.click();
			  window.URL.revokeObjectURL(url);
			}

			// demo: to download after 9sec
			setTimeout(event => {
			  console.log("stopping");
			  mediaRecorder.stop();
			}, 9000);
			player.srcObject = stream;
		  };
		</script>
	</div>
</div>
{% endblock %}


