{% extends 'skeleton.html' %}

{% block title %} Assign Tags {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block main %}
    <div class="uk-container uk-container-xsmall">
        <h1 class="uk-heading-medium uk-margin-large-top uk-margin-remove-bottom">Assign Tags</h1>
         <div class="uk-text-meta uk-text-large uk-margin-medium-bottom">
            <span uk-icon="icon: folder"></span> {{ path }}
        </div>

        <form class="uk-form-stacked" method="POST" action="{{ url_for('.create_tag_in_project_tags') }}"
              onsubmit="return createProjectTag({{ project_tags }});">
            <input type="hidden" id="project" name="project" value="{{ project }}">
            <input type="hidden" id="path" name="path" value="{{ path }}">

            <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
                <div>
                    <label class="uk-form-label" for="tag">Tag name</label>
                    <label class="uk-form-label uk-text-danger" id="tagLabel"></label>
                    <div class="uk-form-controls uk-width-1-1">
                        <input class="uk-input" type="text" id="tag" name="tag" placeholder="Tag name" autocomplete="off" oninput="checkIfTagExist({{ project_tags }});">
                    </div>
                </div>
                <div>
                    <button type="submit" class="uk-button uk-button-primary" uk-tooltip="Add Tag"><span uk-icon="icon: plus"></span> Add</button>
                </div>
            </div>
        </form>

        <h3 class="uk-heading-line uk-text-center"><span>Project Tags</span></h3>
        <h5 id="error" class="uk-text-danger uk-text-center"></h5>
        <form>
            <div class="uk-grid-small uk-grid-match uk-margin-top uk-flex-center" uk-grid>
                {% for tag_idx, tag_name in project_tags.items() %}
                    <div>
                        <div class="uk-form-control">
                            <div class="uk-form-width-large">
                                <input class="uk-input uk-form-blank" type="text" placeholder="Tag name" autocomplete="off" id="tag_{{ tag_idx }}" value="{{ tag_name }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div>
                       <div id="editTag_{{ tag_idx }}">
                            <a class="uk-button uk-button-primary" uk-tooltip="Edit Tag"
                                onclick="editProjectTag({{ tag_idx }});">
                                <span uk-icon="icon: file-edit"></span>
                            </a>
                       </div>
                        <div id="saveTag_{{ tag_idx }}">
                            <a class="uk-button uk-button-link uk-hidden" uk-icon="icon: check" uk-tooltip="Save Tag"
                               onclick="saveProjectTag({{ tag_idx }});">
                            </a>
                        </div>
                    </div>

                <div>
                    <div class="uk-width-auto" id="removeTag_{{ tag_idx }}">
                        <a class="uk-button uk-button-danger" href="#" uk-icon="icon: trash; ratio: 1.1" uk-tooltip="Remove Tag"></a>
                        <div uk-dropdown="mode: click; pos:bottom-justify">
                            <p>
                                Remove tag from the project tags in the config.
                            </p>
                            <a class="uk-button uk-button-danger" href="{{ url_for('.tags_page', project=project) }}"
                                onclick="removeProjectTag('{{ tag_idx }}', '{{ url_for('.remove_tag_from_project_tags') }}');">
                                <span uk-icon="icon: trash"></span> REMOVE
                            </a>
                        </div>
                    </div>
                    <div>
                        <a class="uk-button uk-button-danger uk-hidden" id="closeTag_{{ tag_idx }}"
                           uk-icon="icon: close" uk-tooltip="Close Tag" onclick="closeProjectTag({{ tag_idx }});">
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='tags_operations.js') }}"></script>
{% endblock %}