{% extends 'skeleton.html' %}

{% block title %} Testing {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block settings %}
    {% include 'settings.html' %}
{% endblock settings %}

{% block main %}
<div class="uk-container uk-container-xsmall">
    <h1 class="uk-heading-medium uk-margin-large-top uk-margin-remove-bottom">Testing</h1>
    <div class="uk-text-meta uk-text-large uk-margin-medium-bottom">
        <span uk-icon="icon: folder"></span> {{ path }}
    </div>
    <form class="uk-form-stacked" method="post">
        <input type="hidden" id="project" name="project" value="{{ project }}">
        <input type="hidden" id="path" name="path" value="{{ path }}">

        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
            <div>
                <label class="uk-form-label" for="classifier">Custom Classifier</label>
                 <div class="uk-form-controls">
                    <select class="uk-select" id="classifier">
                        {% if classifiers %}
                            {% for classifier in classifiers %}
                                <option>{{ classifier }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">No classifiers to select from</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="title">Window title</label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                        <input class="uk-input path-search" type="text" id="title" placeholder="Title" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
            <div>
                <label class="uk-form-label" for="inputVideoPath">Input video path</label>
                <label class="uk-form-label uk-text-danger" id="inputVideoPathLabel"></label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                        <input class="uk-input file-path-search" type="text" id="inputVideoPath" placeholder="/path/to/input-video"
                               autocomplete="off" oninput="getPathInputs('inputVideoPathLabel', 'inputVideoPath');">
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
             <div>
                <label class="uk-form-label" for="outputVideoName">
                    Output video name ({{ output_path_prefix }}..) <span class="uk-label">.mp4</span>
                </label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                        <input class="uk-input" type="text" id="outputVideoName" placeholder="Output video name"
                               autocomplete="off">
                    </div>
                </div>
            </div>
        </div>

        <button class="uk-button uk-button-primary uk-margin uk-margin-right" id="btnTest" type="button" tabindex="0"
                onclick="startTesting('{{ url_for('.start_testing') }}');">
            Test model
        </button>
        <button class="uk-button uk-button-danger" id="btnCancelTest" type="button" tabindex="1"
                onclick="cancelTesting('{{ url_for('.cancel_testing') }}');" disabled>
            Cancel
        </button>
    </form>

    <!--    Output video streaming frame-wise (Automatically filled) -->
    <div id="videoStream" class="uk-margin uk-text-center uk-hidden">
        <img id="frame" src="">
    </div>

    <div id="testTerminal" class="uk-section uk-section-secondary uk-padding-small" >
    </div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='testing.js') }}"></script>
{% endblock %}
