{% extends 'skeleton.html' %}

{% block title %} Testing {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block settings %}
    {% include 'settings.html' %}
{% endblock settings %}

{% block main %}
<div class="uk-container uk-container-xsmall">
    <h1 class="uk-heading-medium uk-margin-large-top uk-margin-remove-bottom">Testing</h1>
    <div class="uk-text-meta uk-text-large uk-margin-medium-bottom">
        <span uk-icon="icon: folder"></span> {{ path }}
    </div>
    <form class="uk-form-stacked" action="" method="post">
        <input type="hidden" id="project" name="project" value="{{ project }}">
        <input type="hidden" id="path" name="path" value="{{ path }}">
        <input type="hidden" id="outputFolder" name="outputFolder" value="{{ output_folder }}">

        <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
            <div>
                <label class="uk-form-label" for="classifier">Custom Classifier</label>
                <label class="uk-form-label uk-text-danger" id="classifierLabel"></label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: folder"></span>
                        <input class="uk-input path-search" type="text" id="classifier" name="classifier" placeholder="/path/to/classifier"
                               autocomplete="off" oninput="getClassifierPath();" required>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: Create oninput method for input video path -->
        <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
            <div>
                <label class="uk-form-label" for="inputVideoPath">Input video path</label>
                <label class="uk-form-label uk-text-danger" id="inputVideoPathLabel"></label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                        <input class="uk-input path-search" type="text" id="inputVideoPath" name="input-video" placeholder="/path/to/input-video"
                               autocomplete="off" oninput="getClassifierPath();">
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: Create oninput method for output video path -->
        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>

            <div>
                <label class="uk-form-label" for="outputVideoName">
                    Output video name ({{ project }}/{{ output_folder }}/...)
                    <span class="uk-label">.mp4</span>
                </label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                        <input class="uk-input path-search" type="text" id="outputVideoName" name="output-video" placeholder="Output video name"
                               autocomplete="off" oninput="getClassifierPath();" />
                    </div>
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="title">Title</label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                        <input class="uk-input path-search" type="text" id="title" name="title" placeholder="Title" autocomplete="off">
                    </div>
                </div>
            </div>

        </div>

        <button class="uk-button uk-button-primary uk-margin uk-margin-right" id="btnTest" type="button" tabindex="0">
            Test model
        </button>
        <button class="uk-button uk-button-danger" id="btnCancelTest" type="button" tabindex="1"
                onclick="" disabled>
            Cancel
        </button>
    </form>

    <div id="testTerminal" class="uk-section uk-section-secondary uk-padding-small" >
        <h4>Start Inference</h4>
        <h4>Stop Inference</h4>
    </div>
    <!-- TODO: Create embedded video streaming -->
    <div class="uk-margin uk-text-center">
        <div class="uk-section uk-section-muted uk-padding-remove-vertical uk-inline">
            <video id="outputVideoPlayer" width="640" height="480" autoplay></video>
            <div class="uk-overlay uk-overlay-default uk-position-top uk-text-large uk-hidden uk-padding-small" id="textOverlay">
                <!-- Automatically filled -->
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='testing.js') }}"></script>
{% endblock %}