{% extends 'skeleton.html' %}

{% block title %} {{ project }} {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block main %}
<div id="main" class="ui main text container">
    <h1 class="ui header">
        Train Model
    </h1>
    <form class="ui form" action="{{ url_for('.train_model') }}" method="post">
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="models" value="{{ models }}">
        <div class="two fields wide">
            <div class="field">
                <label>Choose Model</label>
                <select class="ui fluid dropdown" name="model" required>
                    {% if models %}
                        {% for model in models %}
                            <option value="{{ model }}">{{ model }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No models to select</option>
                    {% endif %}
                </select>
            </div>
            <div class="field">
                <label>Number of layers to finetune</label>
                <input type="number" name="layers" min="5" value="5">
            </div>
        </div>
        <div class="two fields wide">
            <div class="field">
                <label>Epochs</label>
                <input type="number" name="epochs" min="80" value="80">
            </div>
            <div class="field">
                <label>Output folder</label>
                <input type="text" name="outputFolder" placeholder="Folder Name">
            </div>
        </div>
      <button class="ui button" type="submit" tabindex="0">Train model</button>
      <button class="ui button" type="submit" tabindex="1" formaction="{{ url_for('.cancel_training') }}">Cancel</button>
    </form>
    <div class="ui segment" style="overflow: auto; height:500px; scroll:auto; background-color:black; color:white;">
<!--        <h3> Training model...</h3>-->
        <h4>
            {% for log in logs %}
                {{ log }} <br />
            {% endfor %}
        </h4>
    </div>
</div>
{% endblock %}