{% extends 'skeleton.html' %}

{% block title %} Training {% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}

{% block main %}
<div id="main" class="ui main text container">
    <h1 class="ui header">
        Train Model
        <div class="sub header">
            <i class="folder open icon"></i> {{ path }}
        </div>
    </h1>
    <form class="ui form" action="{{ url_for('.train_model') }}" method="post">
        <input type="hidden" id="project" name="project" value="{{ project }}">
        <input type="hidden" id="path" name="path" value="{{ path }}">
        <div class="two fields wide">
            <div class="field">
                <label>Backbone Model</label>
                <div class="ui selection dropdown">
                   {% if models %}
                    <input type="hidden" name="model_name" value="{{ models[0] }}">
                        <div class="default text">Select Model</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for model in models %}
                                <div class="item" data-value="{{ model }}">{{ model }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                       <div class="default text">No models to select</div>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label>Number of layers to finetune</label>
                <input type="number" name="layers_to_finetune" min="9" value="9">
            </div>
        </div>
        <div class="two fields wide">
            <div class="field train">
                <label>Epochs</label>
                <input type="number" name="epochs" min="1" value="1">
            </div>
            <div class="field">
                <label>Output folder</label>
                <div class="ui labeled input">
                    <div class="ui label">
                        {{ project }}/
                    </div>
                    <input id="output_folder" type="text" name="output_folder" value="{{ output_folder }}" placeholder="Folder Name" autocomplete="off" required>
                </div>
            </div>
        </div>
      <button class="ui button {{ 'disabled' if is_disabled }}" id="btn-train" type="submit" tabindex="0" >Train model</button>
      <button class="ui button {{ 'disabled' if not is_disabled }}" id="btn-cancel-train" type="submit" tabindex="1" formaction="{{ url_for('.cancel_training') }}">Cancel</button>
    </form>
    <div id="terminal" class="ui segment train-console">
          <p class="monospace-font"><b>{{ message }}</b></p>
    </div>
    <div id="confusion-matrix" class="ui huge image"></div>
</div>
{% endblock %}
