{% extends 'skeleton.html' %}

{% block title %} Video List {% endblock %}

{% block main %}
<div id="main" class="ui main text container">
    <h1 class="ui header">
        Video List
        <div class="sub header">
            <i class="folder open icon"></i> {{ path }}
            <br>
            <i class="eye icon"></i> {{ label }}
            <br>
            <i class="database icon"></i> {{ split }}
        </div>
    </h1>
    <div class="ui segments">
        {% for video, tagged, id in video_list %}
        <div class="ui segment">
            <a href="{{ url_for('annotations_bp.annotate', split=split, label=label, path=path, idx=id) }}">
                <i class="film icon"></i>
                {{ video }}
            </a>
            {% if tagged %}
            <i class="right-floated check icon"></i>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
