body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
    height: 4em;
    width: auto;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 2em 0em;
}

.class-row {
    margin-bottom: 0.5em;
}

.ui.button.create-project {
    margin-top: 1em;
}

#path {
    border-radius: .28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
